URxvt.scrollBar: false
URxvt.font: xft:Terminus:pixelsize=22
URxvt.boldFont: xft:Terminus:bold:pixelsize=22
URxvt.letterSpace: 0
URxvt.border: false
URxvt.internalBorder: 10
URxvt.borderColor: #181818

URxvt.perl-ext-common: default,clipboard,resize-font

URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: false
URxvt.imLocale: en_US.UTF-8

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #2B303B, #2B303B, #1e2529
rofi.color-normal: #2B303B, #c1c1c1, #2B303B, #4F5B66, #ffffff
rofi.color-active: #2B303B, #4F5B66, #2B303B, #394249, #80cbc4
rofi.color-urgent: #2B303B, #ff1844, #2B303B, #394249, #ff1844

