URxvt.scrollBar: false
URxvt.font: xft:RobotoMono-Regular:pixelsize=16
URxvt.boldFont: xft:RobotoMono-Regular:bold:pixelsize=16
URxvt.letterSpace: 0
URxvt.border: false
URxvt.internalBorder: 10
URxvt.borderColor: #07090d

URxvt.perl-ext-common: default,resize-font,selection-to-clipboard,pasta

URxvt.keysym.Control-Shift-V    : perl:pasta:paste

URxvt.iso14755: false
URxvt.imLocale: en_US.UTF-8

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-enabled: true
rofi.color-window: #07090d, #07090d, #9E9ECB
rofi.color-normal: #07090d, #9E9ECB, #07090d, #2C3238, #FDF4C1
rofi.color-active: #07090d, #b0b0b0, #07090d, #394249, #7e7e7e
rofi.color-urgent: #07090d, #b0b0b0, #07090d, #394249, #ff1844
